/* main layout and navigation */

body {
    font-family: 'Cabin', sans-serif;
    background-color: rgb(226, 226, 226);
    font-size: 13pt;
}

#container {
    margin: 40px auto;
    overflow: hidden;
    padding: 12px;
    width: 1100px;
    background-color: #FFF;
    border: 1px solid #999;
    border-radius: 8px;
    box-shadow: 3px 3px 2px #222;
}


#title {
    font-size: 24pt;
    font-weight: bold;
    width: 1100px;
    padding: 12px;
}

#content {
    width: 1100px;
    padding: 12px;
}
